<h1>Home Page</h1>
<p>Welcome to SB Fishing</p>

<article>
	<div>

		


		<div id="main">
			<h1>Tides</h1>
			<p>
				While tides aren't the end all factor for the right time to go fishing, it is generally a good start for any unfamiliar beaches or casual fishermen. To look at the tide chart for your area, click the button below.
			</p>
			
			<button id="show_tides">Look for tides</button>
			<button id="hide_tides">Hide tide window</button>

			<section id="tide_frame">
				<p>Enter the city or town that you will be fishing in to view the current tide chart for that location.</p>
				<iframe src="http://tides.mobilegeographics.com/" id="tides">
			</section>
		</div>

		

	</div>
</article>


