<h1>About</h1>
<article id="info">
	<section id="about_me">
		<h1>About Me</h1>
		<p>
			I grew up fishing the beaches and piers in the Santa Barbara area. I feel that the central coast has some of the best scenery and fishing in California.
		</p>
		<h1>My Philosophy</h1>
		<p>
			I've always felt that there is something valuable about being connected to the world around us, especially when it comes to the ecosystem. Humans may have climbed to be the apex organism on Earth, but we are still very connected to the other animals on this planet and we have more influence than ever. It is important to be conservative with our resources, which includes our many fisheries. The short term enjoyment of keeping all the fish we catch is not worth depleting these natural jewls in the long term.
		</p>
	</section>
	
	<section id="about_site">
		<h1>About this site</h1>
		<p>
			This site is dedicated to giving the angler all the information they want to increase their fishing knowlege and prowess in the waters in and around Santa Barbara waters.
		</p>
	</section>
</article>