<div id="sidebar">
			<h1>Fish of the Day</h1>
			<h2>Halibut</h2>
			<p>
				While it is debatable whether the Wright brothers were in fact first to achieve powered flight, there is no doubt that the Wright Flyer was a revolutionary machine of its time. Developed with elements from the brothers’ glider designs with some aerodynamic aspects tested using a rudimentary wind tunnel, the Wright Flyer was a canard biplane with a wooden airframe and fabric-covered wings. It was powered by a four-cylinder, 12-horsepower engine, driving two large, wooden, pusher-propellers rotating in opposite directions. A stick-like wood lever controlled the pitch and the airplane was steered by wing warping achieved by the pilot by sliding left and right, cradled on a mobile platform. The Wright Flyers’ first flights on December 17, 1903, documented by still photography, made it one of the most famous airplanes in history. And the Wright brothers’ exhibitions in the United States and Europe inspired aspiring airplane manufacturers to engineer their own designs.
			</p>
</div>